<form method="POST" action="?menu={$module_name}">
<table width="99%" border="0" cellspacing="0" cellpadding="0" align="center">
<tr>
  <td>
    <table width="100%" cellpadding="4" cellspacing="0" border="0">
      <tr>
        <td align="left">
          <input class="button" type="submit" name="submit_delete_extension" value="{$DELETE}" >
          <input class="button" type="submit" name="cancel" value="{$CANCEL}" ></td>
        <td align="right" nowrap><span class="letra12"><span  class="required">*</span> {$REQUIRED_FIELD}</span></td>
     </tr>
   </table>
  </td>
</tr>
<tr>
  <td>
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tabForm">
    <tr class="moduleTitle">
        <td class="moduleTitle" valign="middle" colspan="8">&nbsp;&nbsp;<img src="images/1x1.gif" border="0" align="absmiddle">&nbsp;&nbsp;{$ID}</td>
    </tr>
      <tr>
			<td width="3%">{$del_extension.LABEL}: <span  class="required">*</span></td>
			<td width="25%">{$del_extension.INPUT}</td>	
      </tr>
    </table>
  </td>
</tr>
</table>


<br />
<table width="99%" align="center" border="0" cellspacing="0" cellpadding="0" class="table_data">
    			<tr class="table_title_row" background-image = " ">
        			<td class="table_title_row" align="center">{"Extensiones Asociadas"}</td>
   				</tr>
    			<tr onmouseout="this.style.backgroundColor='#ffffff';" onmouseover="this.style.backgroundColor='#f2f2f2';" style="background-color: #FFFFFF;">
    	 			<td class="table_data" align="center";">{$EXTENSIONS}</td>
   				</tr>
</table>

<input type="hidden" name="id_rate" value="{$id_rate}">
</form>